In [224]:
import pandas as pd

In [225]:
from scipy.spatial import distance

In [226]:
from scipy.spatial.distance import cityblock

In [227]:
dataframe = pd.read_csv("data.csv")

In [228]:
print(dataframe)

    Book   p1   p2 p3   p4 p5   p6 p7   p8
0  book1  3.5    2  5    3  -    -  5    3
1  book2    2  3.5  1    4  4  4.5  2    -
2  book3    -    4  1  4.5  1    4  -    -
3  book4  4.5    -  3    -  4    5  3    5
4  book5    5    2  5    3  -    5  5    4
5  book6  1.5  3.5  1  4.5  -  4.5  4  2.5
6  book7  2.5    -  -    4  4    4  5    3
7  book8    2    3  -    2  1    4  -    -

In [229]:
df = dataframe.replace('-',float("Nan"))

In [230]:
print(df)

    Book   p1   p2   p3   p4   p5   p6   p7   p8
0  book1  3.5    2    5    3  NaN  NaN    5    3
1  book2    2  3.5    1    4    4  4.5    2  NaN
2  book3  NaN    4    1  4.5    1    4  NaN  NaN
3  book4  4.5  NaN    3  NaN    4    5    3    5
4  book5    5    2    5    3  NaN    5    5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5    4  2.5
6  book7  2.5  NaN  NaN    4    4    4    5    3
7  book8    2    3  NaN    2    1    4  NaN  NaN

In [231]:
totalcolumn = len(df.columns)

In [245]:
MANHATTAN_DIST = []
EUCLIDEAN_DIST = []
Mincouski_Dist = []
for count in range(2,totalcolumn):
 queue = df[df.columns[[1, count]]]
 print()
 index_with_nan = queue.index[queue.isnull().any(axis=1)]
 queue.drop(index_with_nan, 0, inplace=True)
 print(queue)

 man = distance.cityblock(queue["p1"].astype(float), queue[queue.columns[1]].astype(float))
 print("Manhattan: ", man)
 MANHATTAN_DIST.insert(count,man)
 print(MANHATTAN_DIST)
 print()

 euclidean = distance.euclidean(queue["p1"].astype(float), queue[queue.columns[1]].astype(float))
 print("Eucledian: ", euclidean)
 EUCLIDEAN_DIST.insert(count,euclidean)
 print(EUCLIDEAN_DIST)
 print()

 minkowski = distance.minkowski(queue["p1"].astype(float), queue[queue.columns[1]].astype(float),p=1)
 print("Minkowski: ", minkowski)
 Mincouski_Dist.insert(count,minkowski)
 print(Mincouski_Dist)

    p1   p2
0  3.5    2
1    2  3.5
4    5    2
5  1.5  3.5
7    2    3
Manhattan:  9.0
[9.0]

Eucledian:  4.301162633521313
[4.301162633521313]

Minkowski:  9.0
[9.0]

    p1 p3
0  3.5  5
1    2  1
3  4.5  3
4    5  5
5  1.5  1
Manhattan:  4.5
[9.0, 4.5]

Eucledian:  2.3979157616563596
[4.301162633521313, 2.3979157616563596]

Minkowski:  4.5
[9.0, 4.5]

    p1   p4
0  3.5    3
1    2    4
4    5    3
5  1.5  4.5
6  2.5    4
7    2    2
Manhattan:  9.0
[9.0, 4.5, 9.0]

Eucledian:  4.415880433163924
[4.301162633521313, 2.3979157616563596, 4.415880433163924]

Minkowski:  9.0
[9.0, 4.5, 9.0]

    p1 p5
1    2  4
3  4.5  4
6  2.5  4
7    2  1
Manhattan:  5.0
[9.0, 4.5, 9.0, 5.0]

Eucledian:  2.7386127875258306
[4.301162633521313, 2.3979157616563596, 4.415880433163924, 2.7386127875258306]

Minkowski:  5.0
[9.0, 4.5, 9.0, 5.0]

    p1   p6
1    2  4.5
3  4.5    5
4    5    5
5  1.5  4.5
6  2.5    4
7    2    4
Manhattan:  9.5
[9.0, 4.5, 9.0, 5.0, 9.5]

Eucledian:  4.663689526544408
[4.301162633521313, 2.3979157616563596, 4.415880433163924, 2.7386127875258306, 4.663689526544408]

Minkowski:  9.5
[9.0, 4.5, 9.0, 5.0, 9.5]

    p1 p7
0  3.5  5
1    2  2
3  4.5  3
4    5  5
5  1.5  4
6  2.5  5
Manhattan:  8.0
[9.0, 4.5, 9.0, 5.0, 9.5, 8.0]

Eucledian:  4.123105625617661
[4.301162633521313, 2.3979157616563596, 4.415880433163924, 2.7386127875258306, 4.663689526544408, 4.123105625617661]

Minkowski:  8.0
[9.0, 4.5, 9.0, 5.0, 9.5, 8.0]

    p1   p8
0  3.5    3
3  4.5    5
4    5    4
5  1.5  2.5
6  2.5    3
Manhattan:  3.5
[9.0, 4.5, 9.0, 5.0, 9.5, 8.0, 3.5]

Eucledian:  1.6583123951777
[4.301162633521313, 2.3979157616563596, 4.415880433163924, 2.7386127875258306, 4.663689526544408, 4.123105625617661, 1.6583123951777]

Minkowski:  3.5
[9.0, 4.5, 9.0, 5.0, 9.5, 8.0, 3.5]

C:\Users\brist\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\brist\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\brist\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\brist\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\brist\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\brist\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\brist\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [247]:
Distance = ["p1-p2", "p1-p3", "p1-p4", "p1-p5", "p1-p6", "p1-p7", "p1-p8"]

In [248]:
dict = { "Distance": Distance, "Manhattan": MANHATTAN_DIST, "Euclidean": EUCLIDEAN_DIST , "Minkowski": Mincouski_Dist  };

In [249]:
Final_Output = pd.DataFrame(dict)

In [250]:
display(Final_Output)

  Distance  Manhattan  Euclidean  Minkowski
0    p1-p2        9.0   4.301163        9.0
1    p1-p3        4.5   2.397916        4.5
2    p1-p4        9.0   4.415880        9.0
3    p1-p5        5.0   2.738613        5.0
4    p1-p6        9.5   4.663690        9.5
5    p1-p7        8.0   4.123106        8.0
6    p1-p8        3.5   1.658312        3.5